<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Mis libros</title>
</head>
<body>
    <h1>{{ libro1.titulo }}</h1>
    <ul>
        <li>{{ libro1.autor }}</li>
        <li></li>
        <li></li>
    </ul>
    <br>
    <h1>{{ libro2.titulo }}</h1>
    <ul>
        <li>{{ libro2.autor }}</li>
        <li></li>
        <li></li>
    </ul>
</body>
</html>